@import url("root.css") layer(components.pagination.vars);


.pagination {
  display: var(--pagination-display);
  padding-left: var(--pagination-padding-left);
  list-style: var(--pagination-list-style);
  border-radius: var(--pagination-border-radius);
}

.page-item {
  margin-right: var(--pagination-margin-x);
}

.page-item:last-child {
  margin-right: 0;
}

.page-link {
  position: var(--pagination-link-position);
  display: var(--pagination-link-display);
  padding: var(--pagination-padding-y) var(--pagination-padding-x);
  font-size: var(--pagination-font-size);
  color: var(--pagination-color);
  text-decoration: var(--pagination-link-text-decoration);
  background-color: var(--pagination-bg);
  border: var(--pagination-border-width) var(--pagination-border-style) var(--pagination-border-color);
  transition: var(--pagination-transition);
}

.page-item:first-child .page-link {
  border-top-left-radius: var(--pagination-border-radius);
  border-bottom-left-radius: var(--pagination-border-radius);
}

.page-item:last-child .page-link {
  border-top-right-radius: var(--pagination-border-radius);
  border-bottom-right-radius: var(--pagination-border-radius);
}

.page-link:hover {
  z-index: var(--pagination-hover-zindex);
  color: var(--pagination-hover-color);
  background-color: var(--pagination-hover-bg);
  border-color: var(--pagination-hover-border-color);
}

.page-link:focus {
  z-index: var(--pagination-focus-zindex);
  outline: var(--pagination-focus-outline);
  box-shadow: var(--pagination-focus-box-shadow);
}

.page-item.active .page-link {
  z-index: var(--pagination-active-zindex);
  color: var(--pagination-active-color);
  background-color: var(--pagination-active-bg);
  border-color: var(--pagination-active-border-color);
}

.page-item.disabled .page-link {
  color: var(--pagination-disabled-color);
  pointer-events: var(--pagination-disabled-pointer-events);
  background-color: var(--pagination-disabled-bg);
  border-color: var(--pagination-disabled-border-color);
  opacity: var(--pagination-disabled-opacity);
}
