@import url("root.css") layer(components.skeletons.vars);

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: var(--skeleton-bg);
  border-radius: var(--skeleton-border-radius);
  display: block;
}

.skeleton::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: var(--skeleton-shimmer-bg);
  animation: skeleton-shimmer var(--skeleton-animation-duration) infinite;
  content: "";
}

.skeleton-avatar,
.skeleton-circle {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}

.skeleton-title {
  width: 60%;
  height: 1.25rem;
  margin-bottom: 0.75rem;
}

.skeleton-text {
  width: 100%;
  height: 0.875rem;
  margin-bottom: 0.5rem;
}

.skeleton-text:last-child {
  width: 80%;
  margin-bottom: 0;
}

.skeleton-rect {
  width: 100%;
  height: 150px;
}

@keyframes skeleton-shimmer {
  100% {
    transform: translateX(100%);
  }
}
