:root {
  --grid-cols: 12;
  --grid-col-x-gap: 20px;
  --grid-col-y-gap: 20px;
  --grid-col-width: calc(100% / var(--grid-cols));
}

body,
main {
  max-width: 100%;
  width: 100%;
  margin: 0;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

.container-full {
  max-width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--grid-col-y-gap) var(--grid-col-x-gap);
  justify-content: start;
  line-break: anywhere;
  hyphens: auto;
}

.col-1 {
  width: calc(var(--grid-col-width) - var(--grid-col-x-gap));
}
.col-2 {
  width: calc(var(--grid-col-width) * 2 - var(--grid-col-x-gap));
}
.col-3 {
  width: calc(var(--grid-col-width) * 3 - var(--grid-col-x-gap));
}
.col-4 {
  width: calc(var(--grid-col-width) * 4 - var(--grid-col-x-gap));
}
.col-5 {
  width: calc(var(--grid-col-width) * 5 - var(--grid-col-x-gap));
}
.col-6 {
  width: calc(var(--grid-col-width) * 6 - var(--grid-col-x-gap));
}
.col-7 {
  width: calc(var(--grid-col-width) * 7 - var(--grid-col-x-gap));
}
.col-8 {
  width: calc(var(--grid-col-width) * 8 - var(--grid-col-x-gap));
}
.col-9 {
  width: calc(var(--grid-col-width) * 9 - var(--grid-col-x-gap));
}
.col-10 {
  width: calc(var(--grid-col-width) * 10 - var(--grid-col-x-gap));
}
.col-11 {
  width: calc(var(--grid-col-width) * 11 - var(--grid-col-x-gap));
}
.col-12 {
  width: calc(var(--grid-col-width) * 12 - var(--grid-col-x-gap));
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .container {
    margin: 0;
  }

  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    width: calc(100% - var(--grid-col-x-gap));
  }
}
