@layer base, layout, components, utilities;

@import url("/assets/css/grid/grid.css") layer(layout);
@import url("/assets/css/utilities/spacers/spacers.css") layer(utilities.spacers);
@import url("/assets/css/components/buttons/buttons.css") layer(components.buttons);

body,
main {
  max-width: 100%;
  width: 100%;
  margin: 0;
}
