:root {
  --margin: 2em;
}

.my-1 {
  margin-top: var(--margin);
  margin-bottom: var(--margin);
}
.my-2 {
  margin-top: calc(var(--margin) * 1.25);
  margin-bottom: calc(var(--margin) * 1.25);
}
.my-3 {
  margin-top: calc(var(--margin) * 1.5);
  margin-bottom: calc(var(--margin) * 1.5);
}
.my-4 {
  margin-top: calc(var(--margin) * 1.75);
  margin-bottom: calc(var(--margin) * 1.75);
}
.my-5 {
  margin-top: calc(var(--margin) * 2);
  margin-bottom: calc(var(--margin) * 2);
}

.mx-1 {
  margin-left: var(--margin);
  margin-right: var(--margin);
}
.mx-2 {
  margin-left: calc(var(--margin) * 1.25);
  margin-right: calc(var(--margin) * 1.25);
}
.mx-3 {
  margin-left: calc(var(--margin) * 1.5);
  margin-right: calc(var(--margin) * 1.5);
}
.mx-4 {
  margin-left: calc(var(--margin) * 1.75);
  margin-right: calc(var(--margin) * 1.75);
}
.mx-5 {
  margin-left: calc(var(--margin) * 2);
  margin-right: calc(var(--margin) * 2);
}

.ml-1 {
  margin-left: var(--margin);
}
.ml-2 {
  margin-left: calc(var(--margin) * 1.25);
}
.ml-3 {
  margin-left: calc(var(--margin) * 1.5);
}
.ml-4 {
  margin-left: calc(var(--margin) * 1.75);
}
.ml-5 {
  margin-left: calc(var(--margin) * 2);
}

.mr-1 {
  margin-right: var(--margin);
}
.mr-2 {
  margin-right: calc(var(--margin) * 1.25);
}
.mr-3 {
  margin-right: calc(var(--margin) * 1.5);
}
.mr-4 {
  margin-right: calc(var(--margin) * 1.75);
}
.mr-5 {
  margin-right: calc(var(--margin) * 2);
}

.mt-1 {
  margin-top: var(--margin);
}
.mt-2 {
  margin-top: calc(var(--margin) * 1.25);
}
.mt-3 {
  margin-top: calc(var(--margin) * 1.5);
}
.mt-4 {
  margin-top: calc(var(--margin) * 1.75);
}
.mt-5 {
  margin-top: calc(var(--margin) * 2);
}

.mb-1 {
  margin-bottom: var(--margin);
}
.mb-2 {
  margin-bottom: calc(var(--margin) * 1.25);
}
.mb-3 {
  margin-bottom: calc(var(--margin) * 1.5);
}
.mb-4 {
  margin-bottom: calc(var(--margin) * 1.75);
}
.mb-5 {
  margin-bottom: calc(var(--margin) * 2);
}
