@import url("root.css") layer(components.buttons.vars);

.btn {
  display: inline-block;
  font-family: var(--btn-font-family);
  font-style: var(--btn-font-style);
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  line-height: var(--btn-line-height);
  letter-spacing: var(--btn-letter-spacing);
  text-transform: var(--btn-text-transform);
  color: var(--btn-color);
  background-color: var(--btn-bg);
  text-shadow: var(--btn-text-shadow);
  box-shadow: var(--btn-box-shadow);
  margin-top: var(--btn-margin-top);
  margin-right: var(--btn-margin-right);
  margin-bottom: var(--btn-margin-bottom);
  margin-left: var(--btn-margin-left);
  padding-top: var(--btn-padding-top);
  padding-right: var(--btn-padding-right);
  padding-bottom: var(--btn-padding-bottom);
  padding-left: var(--btn-padding-left);
  border-top: var(--btn-border-width) var(--btn-border-style) var(--btn-border-color);
  border-right: var(--btn-border-width) var(--btn-border-style) var(--btn-border-color);
  border-bottom: var(--btn-border-width) var(--btn-border-style) var(--btn-border-color);
  border-left: var(--btn-border-width) var(--btn-border-style) var(--btn-border-color);
  border-top-left-radius: var(--btn-border-top-left-radius);
  border-top-right-radius: var(--btn-border-top-right-radius);
  border-bottom-right-radius: var(--btn-border-bottom-right-radius);
  border-bottom-left-radius: var(--btn-border-bottom-left-radius);
  text-align: center;
  text-decoration: var(--btn-text-decoration);
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  -webkit-appearance: none;
  appearance: none;
  transition: var(--btn-transition);
}

.btn:hover,
.btn:focus-visible {
  color: var(--btn-hover-color);
  background-color: var(--btn-hover-bg);
  border-color: var(--btn-hover-border-color);
  text-decoration: var(--btn-hover-text-decoration);
}

.btn:focus-visible {
  outline: none;
  box-shadow: var(--btn-focus-box-shadow);
}

.btn:disabled,
.btn.disabled {
  pointer-events: var(--btn-disabled-pointer-events);
  opacity: var(--btn-disabled-opacity);
  box-shadow: none; /* Remove focus shadow on disabled elements */
}

.btn-lg {
  --btn-padding-top: var(--btn-lg-padding-top);
  --btn-padding-right: var(--btn-lg-padding-right);
  --btn-padding-bottom: var(--btn-lg-padding-bottom);
  --btn-padding-left: var(--btn-lg-padding-left);
  --btn-font-size: var(--btn-lg-font-size);
  --btn-border-top-left-radius: var(--btn-lg-border-radius);
  --btn-border-top-right-radius: var(--btn-lg-border-radius);
  --btn-border-bottom-right-radius: var(--btn-lg-border-radius);
  --btn-border-bottom-left-radius: var(--btn-lg-border-radius);
}

.btn-sm {
  --btn-padding-top: var(--btn-sm-padding-top);
  --btn-padding-right: var(--btn-sm-padding-right);
  --btn-padding-bottom: var(--btn-sm-padding-bottom);
  --btn-padding-left: var(--btn-sm-padding-left);
  --btn-font-size: var(--btn-sm-font-size);
  --btn-border-top-left-radius: var(--btn-sm-border-radius);
  --btn-border-top-right-radius: var(--btn-sm-border-radius);
  --btn-border-bottom-right-radius: var(--btn-sm-border-radius);
  --btn-border-bottom-left-radius: var(--btn-sm-border-radius);
}

/* Makes an element (button or button group) span the full width of its parent. */
.btn-block {
  width: 100%;
}

.btn.btn-block {
  display: block;
}

.btn-secondary {
  --btn-color: var(--btn-secondary-color);
  --btn-bg: var(--btn-secondary-bg);
  --btn-border-color: var(--btn-secondary-border-color);
  --btn-hover-bg: var(--btn-secondary-hover-bg);
  --btn-hover-color: var(--btn-secondary-color);
  --btn-hover-border-color: var(--btn-secondary-hover-border-color);
  --btn-focus-box-shadow: var(--btn-secondary-focus-box-shadow);
}

.btn-outline-primary {
  --btn-color: var(--btn-primary-bg);
  --btn-border-color: var(--btn-primary-bg);
  --btn-bg: transparent;
  --btn-hover-color: var(--btn-primary-color);
  --btn-hover-bg: var(--btn-primary-bg);
  --btn-hover-border-color: var(--btn-primary-bg);
  --btn-focus-box-shadow: var(--btn-primary-focus-box-shadow);
}

.btn-outline-secondary {
  --btn-color: var(--btn-secondary-bg);
  --btn-border-color: var(--btn-secondary-bg);
  --btn-bg: transparent;
  --btn-hover-color: var(--btn-secondary-color);
  --btn-hover-bg: var(--btn-secondary-bg);
  --btn-hover-border-color: var(--btn-secondary-bg);
  --btn-focus-box-shadow: var(--btn-secondary-focus-box-shadow);
}

.btn-outline-success {
  --btn-color: var(--btn-success-bg);
  --btn-border-color: var(--btn-success-bg);
  --btn-bg: transparent;
  --btn-hover-color: var(--btn-success-color);
  --btn-hover-bg: var(--btn-success-bg);
  --btn-hover-border-color: var(--btn-success-bg);
  --btn-focus-box-shadow: var(--btn-success-focus-box-shadow);
}

.btn-outline-danger {
  --btn-color: var(--btn-danger-bg);
  --btn-border-color: var(--btn-danger-bg);
  --btn-bg: transparent;
  --btn-hover-color: var(--btn-danger-color);
  --btn-hover-bg: var(--btn-danger-bg);
  --btn-hover-border-color: var(--btn-danger-bg);
  --btn-focus-box-shadow: var(--btn-danger-focus-box-shadow);
}

.btn-outline-warning {
  --btn-color: var(--btn-warning-bg);
  --btn-border-color: var(--btn-warning-bg);
  --btn-bg: transparent;
  --btn-hover-color: var(--btn-warning-color);
  --btn-hover-bg: var(--btn-warning-bg);
  --btn-hover-border-color: var(--btn-warning-bg);
  --btn-focus-box-shadow: var(--btn-warning-focus-box-shadow);
}

.btn-outline-info {
  --btn-color: var(--btn-info-bg);
  --btn-border-color: var(--btn-info-bg);
  --btn-bg: transparent;
  --btn-hover-color: var(--btn-info-color);
  --btn-hover-bg: var(--btn-info-bg);
  --btn-hover-border-color: var(--btn-info-bg);
  --btn-focus-box-shadow: var(--btn-info-focus-box-shadow);
}

.btn-success {
  --btn-color: var(--btn-success-color);
  --btn-bg: var(--btn-success-bg);
  --btn-border-color: var(--btn-success-border-color);
  --btn-hover-bg: var(--btn-success-hover-bg);
  --btn-hover-color: var(--btn-success-color);
  --btn-hover-border-color: var(--btn-success-hover-border-color);
  --btn-focus-box-shadow: var(--btn-success-focus-box-shadow);
}

.btn-danger {
  --btn-color: var(--btn-danger-color);
  --btn-bg: var(--btn-danger-bg);
  --btn-border-color: var(--btn-danger-border-color);
  --btn-hover-bg: var(--btn-danger-hover-bg);
  --btn-hover-color: var(--btn-danger-color);
  --btn-hover-border-color: var(--btn-danger-hover-border-color);
  --btn-focus-box-shadow: var(--btn-danger-focus-box-shadow);
}

.btn-warning {
  --btn-color: var(--btn-warning-color);
  --btn-bg: var(--btn-warning-bg);
  --btn-border-color: var(--btn-warning-border-color);
  --btn-hover-bg: var(--btn-warning-hover-bg);
  --btn-hover-color: var(--btn-warning-color);
  --btn-hover-border-color: var(--btn-warning-hover-border-color);
  --btn-focus-box-shadow: var(--btn-warning-focus-box-shadow);
}

.btn-info {
  --btn-color: var(--btn-info-color);
  --btn-bg: var(--btn-info-bg);
  --btn-border-color: var(--btn-info-border-color);
  --btn-hover-bg: var(--btn-info-hover-bg);
  --btn-hover-color: var(--btn-info-color);
  --btn-hover-border-color: var(--btn-info-hover-border-color);
  --btn-focus-box-shadow: var(--btn-info-focus-box-shadow);
}

.btn-link {
  --btn-font-weight: 400;
  --btn-color: var(--btn-link-color);
  --btn-bg: transparent;
  --btn-padding-top: 0;
  --btn-padding-right: 0;
  --btn-padding-bottom: 0;
  --btn-padding-left: 0;
  --btn-hover-bg: transparent;
  --btn-border-color: transparent;
  --btn-hover-color: var(--btn-link-hover-color);
  --btn-hover-border-color: transparent;
  --btn-hover-text-decoration: var(--btn-link-hover-text-decoration);
  --btn-focus-box-shadow: none;
}

.btn-link:disabled,
.btn-link.disabled {
  color: var(--btn-link-disabled-color);
}

.btn-icon {
  display: inline-flex;
  align-items: center;
  gap: var(--btn-icon-gap);
  /* flex-direction: row; es el valor por defecto, no es necesario declararlo */
}

.btn-icon svg {
  width: 1em;
  height: 1em;
}
