@import url("root.css") layer(components.buttons.vars);

.btn {
  display: inline-block;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  font-family: var(--btn-font-family);
  font-style: var(--btn-font-style);
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  line-height: var(--btn-line-height);
  letter-spacing: var(--btn-letter-spacing);
  text-transform: var(--btn-text-transform);
  color: var(--btn-color);
  background-color: var(--btn-bg);
  border-width: var(--btn-border-width);
  border-style: var(--btn-border-style);
  border-color: var(--btn-border-color);
  border-radius: var(--btn-border-radius);
  text-shadow: var(--btn-text-shadow);
  box-shadow: var(--btn-box-shadow);
  text-align: center;
  text-decoration: var(--btn-text-decoration);
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  -webkit-appearance: none;
  appearance: none;
  transition: var(--btn-transition);
}

.btn:hover,
.btn:focus-visible {
  color: var(--btn-hover-color);
  background-color: var(--btn-hover-bg);
  border-color: var(--btn-hover-border-color);
  text-decoration: var(--btn-hover-text-decoration);
}

.btn:focus-visible {
  outline: none;
  box-shadow: var(--btn-focus-box-shadow);
}

.btn-secondary {
  --btn-color: var(--btn-secondary-color);
  --btn-bg: var(--btn-secondary-bg);
  --btn-border-color: var(--btn-secondary-border-color);
  --btn-hover-bg: var(--btn-secondary-hover-bg);
  --btn-hover-color: var(--btn-secondary-color);
  --btn-hover-border-color: var(--btn-secondary-hover-border-color);
  --btn-focus-box-shadow: var(--btn-secondary-focus-box-shadow);
}

.btn-outline-primary {
  --btn-color: var(--btn-border-color); /* El texto toma el color primario del borde */
  --btn-bg: transparent;
  --btn-hover-color: #fff; /* Al pasar el mouse, el texto se vuelve blanco */
  --btn-hover-bg: var(--btn-border-color); /* Y el fondo toma el color primario */
}

.btn-success {
  --btn-color: var(--btn-success-color);
  --btn-bg: var(--btn-success-bg);
  --btn-border-color: var(--btn-success-border-color);
  --btn-hover-bg: var(--btn-success-hover-bg);
  --btn-hover-color: var(--btn-success-color);
  --btn-hover-border-color: var(--btn-success-hover-border-color);
  --btn-focus-box-shadow: var(--btn-success-focus-box-shadow);
}

.btn-danger {
  --btn-color: var(--btn-danger-color);
  --btn-bg: var(--btn-danger-bg);
  --btn-border-color: var(--btn-danger-border-color);
  --btn-hover-bg: var(--btn-danger-hover-bg);
  --btn-hover-color: var(--btn-danger-color);
  --btn-hover-border-color: var(--btn-danger-hover-border-color);
  --btn-focus-box-shadow: var(--btn-danger-focus-box-shadow);
}

.btn-warning {
  --btn-color: var(--btn-warning-color);
  --btn-bg: var(--btn-warning-bg);
  --btn-border-color: var(--btn-warning-border-color);
  --btn-hover-bg: var(--btn-warning-hover-bg);
  --btn-hover-color: var(--btn-warning-color);
  --btn-hover-border-color: var(--btn-warning-hover-border-color);
  --btn-focus-box-shadow: var(--btn-warning-focus-box-shadow);
}

.btn-info {
  --btn-color: var(--btn-info-color);
  --btn-bg: var(--btn-info-bg);
  --btn-border-color: var(--btn-info-border-color);
  --btn-hover-bg: var(--btn-info-hover-bg);
  --btn-hover-color: var(--btn-info-color);
  --btn-hover-border-color: var(--btn-info-hover-border-color);
  --btn-focus-box-shadow: var(--btn-info-focus-box-shadow);
}

.btn-link {
  --btn-font-weight: 400;
  --btn-color: var(--btn-link-color);
  --btn-bg: transparent;
  --btn-hover-bg: transparent;
  --btn-border-color: transparent;
  --btn-hover-color: var(--btn-link-hover-color);
  --btn-hover-border-color: transparent;
  --btn-hover-text-decoration: var(--btn-link-hover-text-decoration);
  --btn-focus-box-shadow: none;
}

.btn-icon {
  display: inline-flex;
  align-items: center;
  gap: var(--btn-icon-gap);
  /* flex-direction: row; es el valor por defecto, no es necesario declararlo */
}

.btn-icon svg {
  width: 1em;
  height: 1em;
}
