@import url("root.css") layer(components.breadcrumb.vars);

.breadcrumb {
  display: var(--breadcrumb-display);
  flex-wrap: var(--breadcrumb-flex-wrap);
  padding: var(--breadcrumb-padding-y) var(--breadcrumb-padding-x);
  margin-bottom: var(--breadcrumb-margin-bottom);
  font-size: var(--breadcrumb-font-size);
  list-style: var(--breadcrumb-list-style);
  background-color: var(--breadcrumb-bg);
  border-radius: var(--breadcrumb-border-radius);
}

.breadcrumb-item {
  display: var(--breadcrumb-item-display);
  align-items: var(--breadcrumb-item-align-items);
}

/* El separador se añade antes de cada item (excepto el primero) */
.breadcrumb-item + .breadcrumb-item::before {
  display: var(--breadcrumb-divider-display);
  padding-right: var(--breadcrumb-item-padding);
  padding-left: var(--breadcrumb-item-padding);
  color: var(--breadcrumb-divider-color);
  content: var(--breadcrumb-divider);
}

.breadcrumb-item.active {
  color: var(--breadcrumb-active-color);
  pointer-events: var(--breadcrumb-active-pointer-events); /* Evita clics en la página actual */
  cursor: var(--breadcrumb-active-cursor);
  text-decoration: var(--breadcrumb-active-text-decoration);
}

.breadcrumb-divider-arrow {
  --breadcrumb-divider: ">";
}
